<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Utwórz nowego gościa</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h2>Dodaj nowego gościa</h2>
<form th:action="@{/guests}" method="post">
    <p>Imię: <input type="text" name="firstName" required /></p>
    <p>Nazwisko: <input type="text" name="lastName" required /></p>
    <p>Data urodzenia: <input type="date" name="dateOfBirth" /></p>
    <p>Płeć:
        <select name="gender">
            <option value="MALE">Mężyczna</option>
            <option value="FEMALE">Kobieta</option>
        </select>
    </p>
    <p><input type="submit" value="Submit" /></p>
</form>
</body>
</html>