<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Edytuj pokój</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h2>Edytuj pokój</h2>
<form th:action="@{/rooms/edit}" method="post">
    <input type="hidden" name="id" th:value="${room.id}"/>
    <p>Numer pokoju: <input type="text" name="number" th:value="${room.number}" required /></p>
    <p>Rozkład Lóżek:
        <select name="bedsDesc">
            <option value="2" th:selected="${bedsAsStr=='2'}">Podwójne</option>
            <option value="1" th:selected="${bedsAsStr=='1'}">Pojedyncze</option>
            <option value="2+2" th:selected="${bedsAsStr=='2+2'}">Podwójne + Podwójne</option>
            <option value="2+1" th:selected="${bedsAsStr=='2+1'}">Podwójne + Pojedyncze</option>
            <option value="2+1+1" th:selected="${bedsAsStr=='2+1+1'}">Podwójne + Pojedyncze + Pojedyncze</option>
            <option value="2+1+1+1" th:selected="${bedsAsStr=='2+1+1+1'}">Podwójne + Pojedyncze + Pojedyncze + Pojedyncze</option>
            <option value="1+1" th:selected="${bedsAsStr=='1+1'}">Pojedyncze + Pojedyncze</option>
        </select>
    </p>
    <p><input type="submit" value="Submit" /></p>
</form>
</body>
</html>