<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Gnomix - pokoje</title>
</head>
<body>
<h2>Lista pokoi</h2>
<table>
    <thead>
    <tr>
        <th>Numer</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="room : ${rooms}">
        <td th:text="${room.number}"/>
        <td th:text="${room.size}"/>
        <td>
            <a th:href="@{/rooms/delete/{id}(id=${room.id})}">Usuń</a>
        </td>
        <td>
            <a th:href="@{/rooms/edit/{id}(id=${room.id})}">Edytuj</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>